<h2>User Info</h2>
<%= form_with model:@user, local:true do |f| %>
  <label for="inputName">Name</label>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:""%>
   <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
  <label for="inputImage">Image</label>
  <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
   <label for="inputName">Introduction</label>
  <%= f.text_field :introduction, autofocus: true, id:"inputName", placeholder:""%>
  <%= f.submit "Update" %>
<% end %>