<div class="container">
  <div class="row">
    <div class="col-md-3" >
      <%= render 'books/list', book: @book,user: @user %>
    </div>

<div class="col-md-8 offset-md-1">
<table>
  <table class="table">
  <thead>
    <tr>
      <td>image</td>
      <td>name</td>
      <td></td>
    </tr>
  </thead>
 <tbody>
    <% if user_signed_in? %>
      <%= form_tag(search_path, method: :get) do %>
   　　<%= text_field_tag (:word) %>
   　　<%= select_tag 'search', options_for_select([["前方一致","forward_match"], ["後方一致","backward_match"], ["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
　　  <%= select_tag 'range' ,options_for_select([['---選択してください---', ''], ['User', '1'], ['Book', '2']]) %>
   　　<%= submit_tag "検索" %>
      <% end %>
    <% end %>
    <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, size:'40x40', format: 'jpeg', fallback: "no_image.jpg" %></td>
        <td><%= user.name %></td>
          <td>フォロー数: <%= user.followings.count %></td>
          <td>フォロワー数: <%= user.followers.count %></td>
        <td>
          <% if current_user != user %>
              <% if current_user.following?(user) %>
              <%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete,class: "btn btn-sm btn-primary" %>
            <% else %>
              <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-sm btn-success" %>
            <% end %>
            <% else %>
          <% end %>
          </td>
        <td><%= link_to  "Show", user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
