<div>
  <table>
    <tbody>
      <h3>user info</h3>
        <tr></tr>
        <tr><%= attachment_image_tag user, :profile_image, :fill, 63, 63, format: 'jpeg', fallback: "no_image.jpg" %>
          <th>name</th>
          <th><%= user.name %></th>
        </tr>

          <th>introduction</th>
          <th><%= user.introduction %></th>

         <tr>
            <th>フォロー数:
            </th>
            <th>
              <%= link_to  user_followings_path(user.id) do %>
                <%= user.followings.count %>
              <% end %>
            </th>
        </tr>
        <tr>
            <th>フォロワー数:
            </th>
            <th>
              <%= link_to user_followers_path(user.id) do %>
                <%= user.followers.count %>
              <% end %>
            </th>
        </tr>
      <tr>
      <th>
        <p><%= link_to "", edit_user_path(user), class: "btn btn-outline-secondary btn-block fas fa-user-cog nav-link text-dark" %></p></th>
      </tr>
    </tbody>
  </table>
</div>

<h1>New book</h1>

<%= form_with model: book, local:true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book', class: "btn btn-sm btn-success" %>
<% end %>
