    <% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
   <% end %>　
<div class="container px-5 px-sm-0">
  <div class="row">
<div class="col-md-3" >
<%= render 'books/list', book: @book_new,user: @user %>
</div>
    <div class="col-md-8 offset-md-1">
<table>
     <h2>Book detail</h2>
    <table class="table table-hover table -inverse">
    <tr>
    <td><%= attachment_image_tag @user, :profile_image, size:'40x40', format: 'jpeg', fallback: "no_image.jpg" %>
        <%=link_to @book.user.name,user_path(@book.user) %></td>
  <td><%=link_to @book.title %></td>
  <td><%= @book.body %></td>
   <td><%= link_to 'Edit', edit_book_path, class: "btn btn-sm btn-success" %></td>
  <td><%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %></td>
  </tr>
  <% if @book.user == current_user %>
  <% end %>
</table>
</div>
</div>
 </div>

